{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>{{title}}</h1>

    <div>

        <form action="{% url 'save' %}" method="POST">
            {% csrf_token %}
            <label> Title: </label>
            {{ form.title }}<br><br>
            <label> Content: </label><br>
            {{ form.content}}<br>
            
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
        

    </div>


{% endblock %}