{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    <div>
        <h4>Do your best creating a new input to Wiki </h4>

        <form action="{% url 'NewPage' %}" method="post">
            {% csrf_token %}
            <label> Title: </label>
            {{ form.title }}<br><br>
            <label> Content: </label><br>
            {{ form.content}}<br>
          
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>

    </div>

{% endblock %}